<!DOCTYPE html>
<html>
<body>

<style>

    body{
        background-color: rgb(121, 167, 201);
    }
</style>
<title> 「話し合い、他の人と話す場所です！」 </title>


<h1> Welcome to hanashiai! / 「ハナシアイへようこそ！」へのアクセス方法を以下に示します。 </h1>

    <a href="{% url 'homepage' %}"> Return To Homepage</a>

    <p> Hanashiai is a place where you can chat and express yourself</p>

    <h1> Why make hanashiai</h1> 

    <p> Its a project im making </p>

    <h1> Why is it called hanashiai?</h1>

    <p> Because it means discusion in japanese and thats what i wanted it to be called </p>

    <h1> Thats all </h1>
    
     







</body>
</body>
</html>
